@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #F84565;
  --color-primary-dull: #D63854;
}

* {
  font-family: "Outfit", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #787777 #1e1e1e;
}

body {
  color: white;
  background-color: rgb(36, 36, 36);
}

.select-none {
  user-select: none;
}

.cursor-grab {
  cursor: grab;
}
.cursor-grabbing {
  cursor: grabbing;
}

/* Ion icon */
.custom-prev,
.custom-next {
  transition: 0.25s ease;
  color: black;
}

.custom-prev:hover,
.custom-next:hover {
  background: #ff4d4d;
  color: white;
  transform: scale(1.08);
}

.tp-prev,
.tp-next {
  transition: 0.25s ease;
  color: black;
}

.tp-prev:hover,
.tp-next:hover {
  background: #ff4d4d;
  color: white;
  transform: scale(1.08);
}


@keyframes fadeIn {
  from { opacity: 0; transform: translateY(6px); }
  to { opacity: 1; transform: translateY(0); }
}
.animate-fadeIn {
  animation: fadeIn .2s ease-in-out;
}




@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  animation: shimmer 1.5s infinite;
}

